<Configuration name="reddit-clone-logger">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS}|%5p|${hostName}|%15.15t|%X{X_REQUEST_ID}|%-40.40c%L{1.}:%m%n%ex</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT" follow="true">
            <PatternLayout patter="${LOG_PATTERN}"/>
        </Console>
        <Log4j2Appender name="Log4j2Appender">
            <PatternLayout patter="${LOG_PATTERN}"/>
            <verbose>false</verbose>
            <tags>TEST</tags>
        </Log4j2Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console-Appender"/>
        </Root>
    </Loggers>
</Configuration>