.home-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.home-container>* {
    margin: 10px;
}

.trending-container {
    grid-column: 1 / span 3;
    overflow: hidden;
}

.trending-title {
    display: block;
}

.trending-posts {
    display: flex;
    flex: 0;
    flex-direction: row;
    flex-grow: 1;
}

.posts-container {
    grid-column: 1 / span 2;
    display: block;
}

.top-communities-container {
    display: block;
}